.checkout {
	display: flex;
	padding: 20px;
	height: max-content;
	background: #fff;
}

.checkout__left {
	width: 75%;
	display: flex;
	flex-direction: column;
}

.checkout__ad {
	width: 100%;
	object-fit: contain;
	margin-bottom: 10px;
}

.checkout__title {
	margin-right: 10px;
	padding: 10px;
	border-bottom: 1px solid lightgray;
}

.checkout__right {
	width: 25%;
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	padding: 20px;
	height: 100%;
	box-shadow: #000 1cm;
}
