.checkoutProduct__container {
	display: flex;
	flex-direction: row;
	padding: 20px 0px;
	border-bottom: 1px solid lightgray;
}

.checkoutProduct__container > img {
	max-width: 120px;
	object-fit: contain;
	margin: 10px 20px 10px 10px;
}

.checkoutProduct__info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 10px;
}

.checkoutProduct__info > button {
	background: #f0c14b;
	border-radius: 2px;
	width: 200px;
	height: 30px;
	border: 1px solid;
	margin-top: 10px;
	border-color: #a88734 #9c7e31 #846a29;
	color: #111;
	cursor: pointer;
}

.checkoutProduct__info > p {
	font-weight: 800;
	margin-bottom: 10px;
}

.checkoutProduct__price {
	margin-bottom: 10px;
}

.checkoutProduct__rating {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}
