:root {
	--size: 50px;
	--rad: 25px;
}

.footer {
	height: var(--size);
	width: var(--size);
	border-radius: var(--rad);
	background: #f0c14b;

	display: flex;
	align-items: center;
	justify-content: center;

	margin-left: auto;
	margin-right: 10px;
	bottom: 10px;

	position: sticky;
	z-index: 99;
	cursor: pointer;
}
